In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [347]:
print(df[df['MasVnrType']=='None'].count()['Id'])
print(df[df['MasVnrType'].isnull()].count()['Id'])
print(df[df['MasVnrArea']==0].count()['Id'])
print(df[df['MasVnrArea'].isnull()].count()['Id'])

864
8
861
8

In [348]:
#removing the misleading value of area 1
df.loc[(df['MasVnrType']=='None') & (df['MasVnrArea']==1),'MasVnrArea']=0

In [349]:
#where area and type both are null, setting them to 0 and none respectively
print(df.loc[(df['MasVnrType'].isnull()) & (df['MasVnrArea'].isnull()),('MasVnrArea','MasVnrType')])
df.loc[(df['MasVnrType'].isnull()) & (df['MasVnrArea'].isnull()),('MasVnrArea','MasVnrType')]=0,'None'
df.loc[(df['MasVnrType'].isnull()) & (df['MasVnrArea'].isnull()),('MasVnrArea','MasVnrType')]

      MasVnrArea MasVnrType
234          NaN        NaN
529          NaN        NaN
650          NaN        NaN
936          NaN        NaN
973          NaN        NaN
977          NaN        NaN
1243         NaN        NaN
1278         NaN        NaN

Empty DataFrame
Columns: [MasVnrArea, MasVnrType]
Index: []

In [350]:
#when area is 0 bt Type is not none, setting type to the mean of area
df.loc[(df['MasVnrType']!='None') & (df['MasVnrArea']==0),('MasVnrArea')]=df[df['MasVnrArea']!=0]['MasVnrArea'].mean()

In [351]:
#when area is not 0 bt Type is none, setting type to the mode of types
print(df.loc[(df['MasVnrType']=='None') & (df['MasVnrArea']!=0),('MasVnrType','MasVnrArea')])
df.loc[(df['MasVnrType']=='None') & (df['MasVnrArea']!=0),('MasVnrType')]=df[df['MasVnrType']!='None']['MasVnrType'].mode().iloc[0]
df.loc[(df['MasVnrType']=='None') & (df['MasVnrArea']!=0),('MasVnrType','MasVnrArea')]

     MasVnrType  MasVnrArea
624        None       288.0
1300       None       344.0
1334       None       312.0

Empty DataFrame
Columns: [MasVnrType, MasVnrArea]
Index: []

In [352]:
print(df[df['MasVnrType']=='None'].count()['Id'])
print(df[df['MasVnrType'].isnull()].count()['Id'])
print(df[df['MasVnrArea']==0].count()['Id'])
print(df[df['MasVnrArea'].isnull()].count()['Id'])

869
0
869
0

In [353]:
#where type is null bt area is greater than 0 setting it to mode of types
print(df.loc[(df['MasVnrType'].isnull()) & (df['MasVnrArea']!=0),'MasVnrType'])
df.loc[(df['MasVnrType'].isnull()) & (df['MasVnrArea']!=0),'MasVnrType']=df[df['MasVnrType']!='None']['MasVnrType'].mode()
df.loc[(df['MasVnrType'].isnull()) & (df['MasVnrArea']!=0),'MasVnrType']

Series([], Name: MasVnrType, dtype: object)

Series([], Name: MasVnrType, dtype: object)

In [354]:
print(df['Alley'].unique())
df['Alley']=df['Alley'].fillna('NA')
df['Alley'].unique()

[nan 'Grvl' 'Pave']

array(['NA', 'Grvl', 'Pave'], dtype=object)

In [355]:
print(df['LotFrontage'].unique())
df['LotFrontage']=df['LotFrontage'].fillna(0)
df['LotFrontage'].unique()

[  65.   80.   68.   60.   84.   85.   75.   nan   51.   50.   70.   91.
   72.   66.  101.   57.   44.  110.   98.   47.  108.  112.   74.  115.
   61.   48.   33.   52.  100.   24.   89.   63.   76.   81.   95.   69.
   21.   32.   78.  121.  122.   40.  105.   73.   77.   64.   94.   34.
   90.   55.   88.   82.   71.  120.  107.   92.  134.   62.   86.  141.
   97.   54.   41.   79.  174.   99.   67.   83.   43.  103.   93.   30.
  129.  140.   35.   37.  118.   87.  116.  150.  111.   49.   96.   59.
   36.   56.  102.   58.   38.  109.  130.   53.  137.   45.  106.  104.
   42.   39.  144.  114.  128.  149.  313.  168.  182.  138.  160.  152.
  124.  153.   46.]

array([  65.,   80.,   68.,   60.,   84.,   85.,   75.,    0.,   51.,
         50.,   70.,   91.,   72.,   66.,  101.,   57.,   44.,  110.,
         98.,   47.,  108.,  112.,   74.,  115.,   61.,   48.,   33.,
         52.,  100.,   24.,   89.,   63.,   76.,   81.,   95.,   69.,
         21.,   32.,   78.,  121.,  122.,   40.,  105.,   73.,   77.,
         64.,   94.,   34.,   90.,   55.,   88.,   82.,   71.,  120.,
        107.,   92.,  134.,   62.,   86.,  141.,   97.,   54.,   41.,
         79.,  174.,   99.,   67.,   83.,   43.,  103.,   93.,   30.,
        129.,  140.,   35.,   37.,  118.,   87.,  116.,  150.,  111.,
         49.,   96.,   59.,   36.,   56.,  102.,   58.,   38.,  109.,
        130.,   53.,  137.,   45.,  106.,  104.,   42.,   39.,  144.,
        114.,  128.,  149.,  313.,  168.,  182.,  138.,  160.,  152.,
        124.,  153.,   46.])

In [356]:
print(df['Alley'].unique())
df['Alley']=df['Alley'].fillna('NA')
df['Alley'].unique()

['NA' 'Grvl' 'Pave']

array(['NA', 'Grvl', 'Pave'], dtype=object)

In [357]:
print(df['BsmtQual'].unique())
df['BsmtQual']=df['BsmtQual'].fillna('NA')
df['BsmtQual'].unique()

['Gd' 'TA' 'Ex' nan 'Fa']

array(['Gd', 'TA', 'Ex', 'NA', 'Fa'], dtype=object)

In [358]:
print(df['BsmtCond'].unique())
df['BsmtCond']=df['BsmtCond'].fillna('NA')
df['BsmtCond'].unique()

['TA' 'Gd' nan 'Fa' 'Po']

array(['TA', 'Gd', 'NA', 'Fa', 'Po'], dtype=object)

In [359]:
print(df['BsmtExposure'].unique())
df['BsmtExposure']=df['BsmtExposure'].fillna('NA')
df['BsmtExposure'].unique()

['No' 'Gd' 'Mn' 'Av' nan]

array(['No', 'Gd', 'Mn', 'Av', 'NA'], dtype=object)

In [360]:
print(df['BsmtFinType1'].unique())
df['BsmtFinType1']=df['BsmtFinType1'].fillna('NA')
df['BsmtFinType1'].unique()

['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']

array(['GLQ', 'ALQ', 'Unf', 'Rec', 'BLQ', 'NA', 'LwQ'], dtype=object)

In [361]:
print(df['BsmtFinType2'].unique())
df['BsmtFinType2']=df['BsmtFinType2'].fillna('NA')
df['BsmtFinType2'].unique()

['Unf' 'BLQ' nan 'ALQ' 'Rec' 'LwQ' 'GLQ']

array(['Unf', 'BLQ', 'NA', 'ALQ', 'Rec', 'LwQ', 'GLQ'], dtype=object)

In [362]:
df['Electrical'].mode().iloc[0]
df['Electrical']=df['Electrical'].fillna(df['Electrical'].mode().iloc[0])

In [363]:
print(df['FireplaceQu'].unique())
df['FireplaceQu']=df['FireplaceQu'].fillna('NA')
df['FireplaceQu'].unique()

[nan 'TA' 'Gd' 'Fa' 'Ex' 'Po']

array(['NA', 'TA', 'Gd', 'Fa', 'Ex', 'Po'], dtype=object)

In [364]:
print(df['GarageType'].unique())
df['GarageType']=df['GarageType'].fillna('NA')
df['GarageType'].unique()

['Attchd' 'Detchd' 'BuiltIn' 'CarPort' nan 'Basment' '2Types']

array(['Attchd', 'Detchd', 'BuiltIn', 'CarPort', 'NA', 'Basment', '2Types'], dtype=object)

In [365]:
print(df['GarageYrBlt'].unique())
df['GarageYrBlt']=df['GarageYrBlt'].fillna(0)
df['GarageYrBlt'].unique()

[ 2003.  1976.  2001.  1998.  2000.  1993.  2004.  1973.  1931.  1939.
  1965.  2005.  1962.  2006.  1960.  1991.  1970.  1967.  1958.  1930.
  2002.  1968.  2007.  2008.  1957.  1920.  1966.  1959.  1995.  1954.
  1953.    nan  1983.  1977.  1997.  1985.  1963.  1981.  1964.  1999.
  1935.  1990.  1945.  1987.  1989.  1915.  1956.  1948.  1974.  2009.
  1950.  1961.  1921.  1900.  1979.  1951.  1969.  1936.  1975.  1971.
  1923.  1984.  1926.  1955.  1986.  1988.  1916.  1932.  1972.  1918.
  1980.  1924.  1996.  1940.  1949.  1994.  1910.  1978.  1982.  1992.
  1925.  1941.  2010.  1927.  1947.  1937.  1942.  1938.  1952.  1928.
  1922.  1934.  1906.  1914.  1946.  1908.  1929.  1933.]

array([ 2003.,  1976.,  2001.,  1998.,  2000.,  1993.,  2004.,  1973.,
        1931.,  1939.,  1965.,  2005.,  1962.,  2006.,  1960.,  1991.,
        1970.,  1967.,  1958.,  1930.,  2002.,  1968.,  2007.,  2008.,
        1957.,  1920.,  1966.,  1959.,  1995.,  1954.,  1953.,     0.,
        1983.,  1977.,  1997.,  1985.,  1963.,  1981.,  1964.,  1999.,
        1935.,  1990.,  1945.,  1987.,  1989.,  1915.,  1956.,  1948.,
        1974.,  2009.,  1950.,  1961.,  1921.,  1900.,  1979.,  1951.,
        1969.,  1936.,  1975.,  1971.,  1923.,  1984.,  1926.,  1955.,
        1986.,  1988.,  1916.,  1932.,  1972.,  1918.,  1980.,  1924.,
        1996.,  1940.,  1949.,  1994.,  1910.,  1978.,  1982.,  1992.,
        1925.,  1941.,  2010.,  1927.,  1947.,  1937.,  1942.,  1938.,
        1952.,  1928.,  1922.,  1934.,  1906.,  1914.,  1946.,  1908.,
        1929.,  1933.])

In [366]:
print(df['GarageFinish'].unique())
df['GarageFinish']=df['GarageFinish'].fillna('NA')
df['GarageFinish'].unique()

['RFn' 'Unf' 'Fin' nan]

array(['RFn', 'Unf', 'Fin', 'NA'], dtype=object)

In [367]:
print(df['GarageQual'].unique())
df['GarageQual']=df['GarageQual'].fillna('NA')
df['GarageQual'].unique()

['TA' 'Fa' 'Gd' nan 'Ex' 'Po']

array(['TA', 'Fa', 'Gd', 'NA', 'Ex', 'Po'], dtype=object)

In [368]:
print(df['GarageCond'].unique())
df['GarageCond']=df['GarageCond'].fillna('NA')
df['GarageCond'].unique()

['TA' 'Fa' nan 'Gd' 'Po' 'Ex']

array(['TA', 'Fa', 'NA', 'Gd', 'Po', 'Ex'], dtype=object)

In [369]:

print(df['PoolQC'].unique())
df['PoolQC']=df['PoolQC'].fillna('NA')
df['PoolQC'].unique()

[nan 'Ex' 'Fa' 'Gd']

array(['NA', 'Ex', 'Fa', 'Gd'], dtype=object)

In [370]:
print(df['Fence'].unique())
df['Fence']=df['Fence'].fillna('NA')
df['Fence'].unique()

[nan 'MnPrv' 'GdWo' 'GdPrv' 'MnWw']

array(['NA', 'MnPrv', 'GdWo', 'GdPrv', 'MnWw'], dtype=object)

In [371]:
print(df['MiscFeature'].unique())
df['MiscFeature']=df['MiscFeature'].fillna('NA')
df['MiscFeature'].unique()

[nan 'Shed' 'Gar2' 'Othr' 'TenC']

array(['NA', 'Shed', 'Gar2', 'Othr', 'TenC'], dtype=object)

In [378]:
df['Garage'] = df.apply(lambda x: np.log(x['GarageCars']*x['GarageArea']+1), axis=1)
df.head()[['Garage','GarageCars','GarageArea']]

     Garage  GarageCars  GarageArea
0  7.000334           2         548
1  6.825460           2         460
2  7.104144           2         608
3  7.563720           3         642
4  7.827640           3         836

In [379]:
dff=pd.get_dummies(df)

In [380]:
from sklearn.preprocessing import Normalizer
normalizer  = Normalizer().fit(dff)
dff = pd.DataFrame(normalizer.transform(dff), columns= dff.columns)
dff.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,0.000005,0.000287,0.000311,0.040484,0.000034,0.000024,0.009596,0.009596,0.000939,0.003382,...,0.0,0.0,0.0,0.000005,0.000000,0.0,0.0,0.0,0.000005,0.0
1,0.000011,0.000110,0.000440,0.052801,0.000033,0.000044,0.010868,0.010868,0.000000,0.005379,...,0.0,0.0,0.0,0.000006,0.000000,0.0,0.0,0.0,0.000006,0.0
2,0.000013,0.000268,0.000304,0.050261,0.000031,0.000022,0.008940,0.008944,0.000724,0.002171,...,0.0,0.0,0.0,0.000004,0.000000,0.0,0.0,0.0,0.000004,0.0
3,0.000028,0.000499,0.000427,0.068019,0.000050,0.000036,0.013639,0.014031,0.000000,0.001538,...,0.0,0.0,0.0,0.000007,0.000007,0.0,0.0,0.0,0.000000,0.0
4,0.000020,0.000240,0.000335,0.056936,0.000032,0.000020,0.007985,0.007985,0.001397,0.002615,...,0.0,0.0,0.0,0.000004,0.000000,0.0,0.0,0.0,0.000004,0.0

In [386]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
rf = RandomForestRegressor()
X_train, X_test, y_train, y_test = train_test_split(dff.drop(['GarageCars','GarageArea', 'Id', 'SalePrice'], axis =1), dff['SalePrice'], test_size=0.3, random_state=101)

In [387]:
rf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [388]:
pred = rf.predict(X_test)

In [389]:
from sklearn.metrics import mean_squared_log_error
from math import sqrt
rmse = sqrt(mean_squared_log_error(y_test, pred))

In [390]:
rmse

0.002279214716762157

In [392]:
out = open('output_1.csv', "w")
out.write("Id,Label\n")

13

In [393]:
submission = pd.DataFrame({
        "Id": X_test["Id"],
        "Label": pred
    })

KeyError: 'Id'