In [80]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

df = pd.read_csv('train.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [81]:
print(df[df['MasVnrType']=='None'].count()['Id'])
print(df[df['MasVnrType'].isnull()].count()['Id'])
print(df[df['MasVnrArea']==0].count()['Id'])
print(df[df['MasVnrArea'].isnull()].count()['Id'])

864
8
861
8

In [82]:
#removing the misleading value of area 1
df.loc[(df['MasVnrType']=='None') & (df['MasVnrArea']==1),'MasVnrArea']=0

In [83]:
#where area and type both are null, setting them to 0 and none respectively
print(df.loc[(df['MasVnrType'].isnull()) & (df['MasVnrArea'].isnull()),('MasVnrArea','MasVnrType')])
df.loc[(df['MasVnrType'].isnull()) & (df['MasVnrArea'].isnull()),('MasVnrArea','MasVnrType')]=0,'None'
df.loc[(df['MasVnrType'].isnull()) & (df['MasVnrArea'].isnull()),('MasVnrArea','MasVnrType')]

      MasVnrArea MasVnrType
234          NaN        NaN
529          NaN        NaN
650          NaN        NaN
936          NaN        NaN
973          NaN        NaN
977          NaN        NaN
1243         NaN        NaN
1278         NaN        NaN

Empty DataFrame
Columns: [MasVnrArea, MasVnrType]
Index: []

In [84]:
#when area is 0 bt Type is not none, setting type to the mean of area
df.loc[(df['MasVnrType']!='None') & (df['MasVnrArea']==0),('MasVnrArea')]=df[df['MasVnrArea']!=0]['MasVnrArea'].mean()

In [85]:
#when area is not 0 bt Type is none, setting type to the mode of types
print(df.loc[(df['MasVnrType']=='None') & (df['MasVnrArea']!=0),('MasVnrType','MasVnrArea')])
df.loc[(df['MasVnrType']=='None') & (df['MasVnrArea']!=0),('MasVnrType')]=df[df['MasVnrType']!='None']['MasVnrType'].mode().iloc[0]
df.loc[(df['MasVnrType']=='None') & (df['MasVnrArea']!=0),('MasVnrType','MasVnrArea')]

     MasVnrType  MasVnrArea
624        None       288.0
1300       None       344.0
1334       None       312.0

Empty DataFrame
Columns: [MasVnrType, MasVnrArea]
Index: []

In [86]:
print(df[df['MasVnrType']=='None'].count()['Id'])
print(df[df['MasVnrType'].isnull()].count()['Id'])
print(df[df['MasVnrArea']==0].count()['Id'])
print(df[df['MasVnrArea'].isnull()].count()['Id'])

869
0
869
0

In [87]:
#where type is null bt area is greater than 0 setting it to mode of types
print(df.loc[(df['MasVnrType'].isnull()) & (df['MasVnrArea']!=0),'MasVnrType'])
df.loc[(df['MasVnrType'].isnull()) & (df['MasVnrArea']!=0),'MasVnrType']=df[df['MasVnrType']!='None']['MasVnrType'].mode()
df.loc[(df['MasVnrType'].isnull()) & (df['MasVnrArea']!=0),'MasVnrType']

Series([], Name: MasVnrType, dtype: object)

Series([], Name: MasVnrType, dtype: object)

In [88]:
print(df['Alley'].unique())
df['Alley']=df['Alley'].fillna('NA')
df['Alley'].unique()

[nan 'Grvl' 'Pave']

array(['NA', 'Grvl', 'Pave'], dtype=object)

In [89]:
print(df['LotFrontage'].unique())
df['LotFrontage']=df['LotFrontage'].fillna(0)
df['LotFrontage'].unique()

[  65.   80.   68.   60.   84.   85.   75.   nan   51.   50.   70.   91.
   72.   66.  101.   57.   44.  110.   98.   47.  108.  112.   74.  115.
   61.   48.   33.   52.  100.   24.   89.   63.   76.   81.   95.   69.
   21.   32.   78.  121.  122.   40.  105.   73.   77.   64.   94.   34.
   90.   55.   88.   82.   71.  120.  107.   92.  134.   62.   86.  141.
   97.   54.   41.   79.  174.   99.   67.   83.   43.  103.   93.   30.
  129.  140.   35.   37.  118.   87.  116.  150.  111.   49.   96.   59.
   36.   56.  102.   58.   38.  109.  130.   53.  137.   45.  106.  104.
   42.   39.  144.  114.  128.  149.  313.  168.  182.  138.  160.  152.
  124.  153.   46.]

array([  65.,   80.,   68.,   60.,   84.,   85.,   75.,    0.,   51.,
         50.,   70.,   91.,   72.,   66.,  101.,   57.,   44.,  110.,
         98.,   47.,  108.,  112.,   74.,  115.,   61.,   48.,   33.,
         52.,  100.,   24.,   89.,   63.,   76.,   81.,   95.,   69.,
         21.,   32.,   78.,  121.,  122.,   40.,  105.,   73.,   77.,
         64.,   94.,   34.,   90.,   55.,   88.,   82.,   71.,  120.,
        107.,   92.,  134.,   62.,   86.,  141.,   97.,   54.,   41.,
         79.,  174.,   99.,   67.,   83.,   43.,  103.,   93.,   30.,
        129.,  140.,   35.,   37.,  118.,   87.,  116.,  150.,  111.,
         49.,   96.,   59.,   36.,   56.,  102.,   58.,   38.,  109.,
        130.,   53.,  137.,   45.,  106.,  104.,   42.,   39.,  144.,
        114.,  128.,  149.,  313.,  168.,  182.,  138.,  160.,  152.,
        124.,  153.,   46.])

In [90]:
print(df['Alley'].unique())
df['Alley']=df['Alley'].fillna('NA')
df['Alley'].unique()

['NA' 'Grvl' 'Pave']

array(['NA', 'Grvl', 'Pave'], dtype=object)

In [91]:
print(df['BsmtQual'].unique())
df['BsmtQual']=df['BsmtQual'].fillna('NA')
df['BsmtQual'].unique()

['Gd' 'TA' 'Ex' nan 'Fa']

array(['Gd', 'TA', 'Ex', 'NA', 'Fa'], dtype=object)

In [92]:
print(df['BsmtCond'].unique())
df['BsmtCond']=df['BsmtCond'].fillna('NA')
df['BsmtCond'].unique()

['TA' 'Gd' nan 'Fa' 'Po']

array(['TA', 'Gd', 'NA', 'Fa', 'Po'], dtype=object)

In [93]:
print(df['BsmtExposure'].unique())
df['BsmtExposure']=df['BsmtExposure'].fillna('NA')
df['BsmtExposure'].unique()

['No' 'Gd' 'Mn' 'Av' nan]

array(['No', 'Gd', 'Mn', 'Av', 'NA'], dtype=object)

In [94]:
print(df['BsmtFinType1'].unique())
df['BsmtFinType1']=df['BsmtFinType1'].fillna('NA')
df['BsmtFinType1'].unique()

['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']

array(['GLQ', 'ALQ', 'Unf', 'Rec', 'BLQ', 'NA', 'LwQ'], dtype=object)

In [95]:
print(df['BsmtFinType2'].unique())
df['BsmtFinType2']=df['BsmtFinType2'].fillna('NA')
df['BsmtFinType2'].unique()

['Unf' 'BLQ' nan 'ALQ' 'Rec' 'LwQ' 'GLQ']

array(['Unf', 'BLQ', 'NA', 'ALQ', 'Rec', 'LwQ', 'GLQ'], dtype=object)

In [96]:
df['Electrical'].mode().iloc[0]
df['Electrical']=df['Electrical'].fillna(df['Electrical'].mode().iloc[0])

In [97]:
print(df['FireplaceQu'].unique())
df['FireplaceQu']=df['FireplaceQu'].fillna('NA')
df['FireplaceQu'].unique()

[nan 'TA' 'Gd' 'Fa' 'Ex' 'Po']

array(['NA', 'TA', 'Gd', 'Fa', 'Ex', 'Po'], dtype=object)

In [98]:
print(df['GarageType'].unique())
df['GarageType']=df['GarageType'].fillna('NA')
df['GarageType'].unique()

['Attchd' 'Detchd' 'BuiltIn' 'CarPort' nan 'Basment' '2Types']

array(['Attchd', 'Detchd', 'BuiltIn', 'CarPort', 'NA', 'Basment', '2Types'], dtype=object)

In [99]:
print(df['GarageYrBlt'].unique())
df['GarageYrBlt']=df['GarageYrBlt'].fillna(0)
df['GarageYrBlt'].unique()

[ 2003.  1976.  2001.  1998.  2000.  1993.  2004.  1973.  1931.  1939.
  1965.  2005.  1962.  2006.  1960.  1991.  1970.  1967.  1958.  1930.
  2002.  1968.  2007.  2008.  1957.  1920.  1966.  1959.  1995.  1954.
  1953.    nan  1983.  1977.  1997.  1985.  1963.  1981.  1964.  1999.
  1935.  1990.  1945.  1987.  1989.  1915.  1956.  1948.  1974.  2009.
  1950.  1961.  1921.  1900.  1979.  1951.  1969.  1936.  1975.  1971.
  1923.  1984.  1926.  1955.  1986.  1988.  1916.  1932.  1972.  1918.
  1980.  1924.  1996.  1940.  1949.  1994.  1910.  1978.  1982.  1992.
  1925.  1941.  2010.  1927.  1947.  1937.  1942.  1938.  1952.  1928.
  1922.  1934.  1906.  1914.  1946.  1908.  1929.  1933.]

array([ 2003.,  1976.,  2001.,  1998.,  2000.,  1993.,  2004.,  1973.,
        1931.,  1939.,  1965.,  2005.,  1962.,  2006.,  1960.,  1991.,
        1970.,  1967.,  1958.,  1930.,  2002.,  1968.,  2007.,  2008.,
        1957.,  1920.,  1966.,  1959.,  1995.,  1954.,  1953.,     0.,
        1983.,  1977.,  1997.,  1985.,  1963.,  1981.,  1964.,  1999.,
        1935.,  1990.,  1945.,  1987.,  1989.,  1915.,  1956.,  1948.,
        1974.,  2009.,  1950.,  1961.,  1921.,  1900.,  1979.,  1951.,
        1969.,  1936.,  1975.,  1971.,  1923.,  1984.,  1926.,  1955.,
        1986.,  1988.,  1916.,  1932.,  1972.,  1918.,  1980.,  1924.,
        1996.,  1940.,  1949.,  1994.,  1910.,  1978.,  1982.,  1992.,
        1925.,  1941.,  2010.,  1927.,  1947.,  1937.,  1942.,  1938.,
        1952.,  1928.,  1922.,  1934.,  1906.,  1914.,  1946.,  1908.,
        1929.,  1933.])

In [100]:
print(df['GarageFinish'].unique())
df['GarageFinish']=df['GarageFinish'].fillna('NA')
df['GarageFinish'].unique()

['RFn' 'Unf' 'Fin' nan]

array(['RFn', 'Unf', 'Fin', 'NA'], dtype=object)

In [101]:
print(df['GarageQual'].unique())
df['GarageQual']=df['GarageQual'].fillna('NA')
df['GarageQual'].unique()

['TA' 'Fa' 'Gd' nan 'Ex' 'Po']

array(['TA', 'Fa', 'Gd', 'NA', 'Ex', 'Po'], dtype=object)

In [102]:
print(df['GarageCond'].unique())
df['GarageCond']=df['GarageCond'].fillna('NA')
df['GarageCond'].unique()

['TA' 'Fa' nan 'Gd' 'Po' 'Ex']

array(['TA', 'Fa', 'NA', 'Gd', 'Po', 'Ex'], dtype=object)

In [103]:

print(df['PoolQC'].unique())
df['PoolQC']=df['PoolQC'].fillna('NA')
df['PoolQC'].unique()

[nan 'Ex' 'Fa' 'Gd']

array(['NA', 'Ex', 'Fa', 'Gd'], dtype=object)

In [104]:
print(df['Fence'].unique())
df['Fence']=df['Fence'].fillna('NA')
df['Fence'].unique()

[nan 'MnPrv' 'GdWo' 'GdPrv' 'MnWw']

array(['NA', 'MnPrv', 'GdWo', 'GdPrv', 'MnWw'], dtype=object)

In [105]:
print(df['MiscFeature'].unique())
df['MiscFeature']=df['MiscFeature'].fillna('NA')
df['MiscFeature'].unique()

[nan 'Shed' 'Gar2' 'Othr' 'TenC']

array(['NA', 'Shed', 'Gar2', 'Othr', 'TenC'], dtype=object)

In [107]:
df['Garage'] = df.apply(lambda x: np.log(x['GarageCars']*x['GarageArea']+1), axis=1)
df.head()[['Garage','GarageCars','GarageArea']]

     Garage  GarageCars  GarageArea
0  7.000334           2         548
1  6.825460           2         460
2  7.104144           2         608
3  7.563720           3         642
4  7.827640           3         836

In [109]:
from sklearn.preprocessing import Normalizer
normalizer  = Normalizer().fit(dff)
dff_n = pd.DataFrame(normalizer.transform(dff.drop(['Id','SalePrice'], axis =1)), columns= columns)
#dff_n = pd.concat(dff_n.append(SalePrice)
#dff_n[['Id','SalePrice']].merge(SalePrice)
dff_n[['Id','SalePrice']] = SalePrice
dff_n.head()[['Id','SalePrice']]

   Id  SalePrice
0   1     208500
1   2     181500
2   3     223500
3   4     140000
4   5     250000

In [110]:
dff=pd.get_dummies(dff_n)
#dff=dff.copy()
SalePrice = dff[['Id','SalePrice']]
SalePrice.head()
dff.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley_Grvl,Alley_NA,Alley_Pave,BedroomAbvGr,BldgType_1Fam,BldgType_2fmCon,BldgType_Duplex,...,TotRmsAbvGrd,TotalBsmtSF,Utilities_AllPub,Utilities_NoSeWa,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,Id,SalePrice
0,0.006206,0.006724,0.874061,0.000724,0.000517,0.207189,0.207189,0.020274,0.073028,0.0,...,0.0,0.000103,0.000000,0.0,0.0,0.0,0.000103,0.0,1,208500
1,0.001873,0.007492,0.899026,0.000562,0.000749,0.185050,0.185050,0.000000,0.091588,0.0,...,0.0,0.000094,0.000000,0.0,0.0,0.0,0.000094,0.0,2,181500
2,0.004914,0.005569,0.921408,0.000573,0.000410,0.163888,0.163970,0.013268,0.039805,0.0,...,0.0,0.000082,0.000000,0.0,0.0,0.0,0.000082,0.0,3,223500
3,0.006596,0.005654,0.899920,0.000660,0.000471,0.180455,0.185638,0.000000,0.020354,0.0,...,0.0,0.000094,0.000094,0.0,0.0,0.0,0.000000,0.0,4,140000
4,0.003961,0.005545,0.941326,0.000528,0.000330,0.132023,0.132023,0.023104,0.043238,0.0,...,0.0,0.000066,0.000000,0.0,0.0,0.0,0.000066,0.0,5,250000

In [111]:
columns= dff.columns.difference(['Id','SalePrice'])

In [112]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dff_n.drop(['GarageCars','GarageArea', 'Id', 'SalePrice'], axis =1), dff_n['SalePrice'], test_size=0.3, random_state=101)

In [128]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train,y_train)
scores =sorted(list(zip(map(lambda x: round(x, 4), rf.feature_importances_),X_train.columns)),reverse=True)
c =Counter([y.partition('_')[0] for (x,y) in scores])
c['Heating']

6

In [144]:
def getscores(scores):
    score = dict()
    for row in scores:
        name = row[1]
        name = name.partition('_')[0]
        if name in score.keys():
            score[name]=score[name]+row[0]
        else:
            score[name]=row[0]
    return score        
x = getscores(scores)            
print(x)

{'Heating': 0.37269999999999998, 'HouseStyle': 0.15240000000000004, 'BsmtExposure': 0.077799999999999994, 'Neighborhood': 0.091700000000000018, 'Alley': 0.0298, 'BsmtCond': 0.029600000000000001, 'BldgType': 0.039199999999999999, 'BsmtFinType1': 0.029500000000000005, 'HeatingQC': 0.016500000000000001, 'Condition1': 0.013099999999999999, 'BedroomAbvGr': 0.0067000000000000002, 'LandSlope': 0.0076000000000000009, 'KitchenQual': 0.0086, 'SaleType': 0.0064999999999999997, '3SsnPorch': 0.0054999999999999997, 'CentralAir': 0.0054000000000000003, 'LotConfig': 0.0084000000000000012, 'SaleCondition': 0.0053999999999999994, 'Exterior1st': 0.0109, 'FireplaceQu': 0.0055000000000000005, 'PoolArea': 0.0038999999999999998, '1stFlrSF': 0.0033, 'MiscFeature': 0.0044000000000000003, 'Exterior2nd': 0.0043, 'Condition2': 0.0061000000000000004, 'LotShape': 0.0026999999999999997, 'BsmtUnfSF': 0.0025999999999999999, 'BsmtFinType2': 0.0066, 'BsmtQual': 0.0041999999999999997, 'BsmtFinSF2': 0.0023999999999999998, 'Foundation': 0.0038999999999999998, 'YearRemodAdd': 0.002, 'TotalBsmtSF': 0.0019, 'PavedDrive': 0.0035999999999999999, 'BsmtFinSF1': 0.0019, '2ndFlrSF': 0.0018, 'ExterCond': 0.0028999999999999998, 'RoofStyle': 0.0020999999999999999, 'GrLivArea': 0.0011999999999999999, 'Garage': 0.00089999999999999998, 'RoofMatl': 0.0018, 'OverallQual': 0.00069999999999999999, 'Functional': 0.00069999999999999999, 'Street': 0.00059999999999999995, 'PoolQC': 0.00059999999999999995, 'MSZoning': 0.0011999999999999999, 'GarageCond': 0.00079999999999999993, 'Fence': 0.0010999999999999998, 'MiscVal': 0.00050000000000000001, 'MasVnrType': 0.00050000000000000001, 'LandContour': 0.00069999999999999999, 'GarageType': 0.00089999999999999998, 'GarageYrBlt': 0.00040000000000000002, 'GarageFinish': 0.00080000000000000004, 'ExterQual': 0.00050000000000000001, 'EnclosedPorch': 0.00040000000000000002, 'GarageQual': 0.00050000000000000001, 'YearBuilt': 0.00020000000000000001, 'OverallCond': 0.00020000000000000001, 'Electrical': 0.00030000000000000003, 'YrSold': 0.0001, 'WoodDeckSF': 0.0001, 'Utilities': 0.0001, 'MoSold': 0.0001, 'MasVnrArea': 0.0001, 'KitchenAbvGr': 0.0001, 'TotRmsAbvGrd': 0.0, 'ScreenPorch': 0.0, 'OpenPorchSF': 0.0, 'MSSubClass': 0.0, 'LowQualFinSF': 0.0, 'LotFrontage': 0.0, 'LotArea': 0.0, 'HalfBath': 0.0, 'FullBath': 0.0, 'Fireplaces': 0.0, 'BsmtHalfBath': 0.0, 'BsmtFullBath': 0.0}

In [145]:
for k, v in x.items():
    x[k]=x[k]/c[k]

In [153]:
import operator
sorted_x = sorted(x.items(), key=operator.itemgetter(1),reverse=True)
sorted_x

[('Heating', 0.06211666666666666),
 ('HouseStyle', 0.019050000000000004),
 ('BsmtExposure', 0.015559999999999999),
 ('Alley', 0.0099333333333333339),
 ('BldgType', 0.0078399999999999997),
 ('BedroomAbvGr', 0.0067000000000000002),
 ('BsmtCond', 0.0059199999999999999),
 ('3SsnPorch', 0.0054999999999999997),
 ('BsmtFinType1', 0.0042142857142857147),
 ('PoolArea', 0.0038999999999999998),
 ('Neighborhood', 0.0036680000000000007),
 ('HeatingQC', 0.0033),
 ('1stFlrSF', 0.0033),
 ('CentralAir', 0.0027000000000000001),
 ('BsmtUnfSF', 0.0025999999999999999),
 ('LandSlope', 0.0025333333333333336),
 ('BsmtFinSF2', 0.0023999999999999998),
 ('KitchenQual', 0.00215),
 ('YearRemodAdd', 0.002),
 ('TotalBsmtSF', 0.0019),
 ('BsmtFinSF1', 0.0019),
 ('2ndFlrSF', 0.0018),
 ('LotConfig', 0.0016800000000000003),
 ('Condition1', 0.0014555555555555554),
 ('PavedDrive', 0.0011999999999999999),
 ('GrLivArea', 0.0011999999999999999),
 ('BsmtFinType2', 0.00094285714285714285),
 ('FireplaceQu', 0.00091666666666666676),
 ('Garage', 0.00089999999999999998),
 ('SaleCondition', 0.00089999999999999987),
 ('MiscFeature', 0.00088000000000000003),
 ('BsmtQual', 0.00083999999999999993),
 ('Condition2', 0.00076250000000000005),
 ('Exterior1st', 0.00072666666666666669),
 ('SaleType', 0.00072222222222222219),
 ('OverallQual', 0.00069999999999999999),
 ('LotShape', 0.00067499999999999993),
 ('Foundation', 0.00064999999999999997),
 ('ExterCond', 0.00058),
 ('MiscVal', 0.00050000000000000001),
 ('GarageYrBlt', 0.00040000000000000002),
 ('EnclosedPorch', 0.00040000000000000002),
 ('RoofStyle', 0.00035),
 ('Street', 0.00029999999999999997),
 ('Exterior2nd', 0.00026875),
 ('MSZoning', 0.00023999999999999998),
 ('RoofMatl', 0.00022499999999999999),
 ('Fence', 0.00021999999999999998),
 ('GarageFinish', 0.00020000000000000001),
 ('YearBuilt', 0.00020000000000000001),
 ('OverallCond', 0.00020000000000000001),
 ('LandContour', 0.000175),
 ('PoolQC', 0.00014999999999999999),
 ('GarageCond', 0.00013333333333333331),
 ('GarageType', 0.00012857142857142858),
 ('MasVnrType', 0.000125),
 ('ExterQual', 0.000125),
 ('Functional', 0.0001),
 ('YrSold', 0.0001),
 ('WoodDeckSF', 0.0001),
 ('MoSold', 0.0001),
 ('MasVnrArea', 0.0001),
 ('KitchenAbvGr', 0.0001),
 ('GarageQual', 8.3333333333333331e-05),
 ('Electrical', 6.0000000000000008e-05),
 ('Utilities', 5.0000000000000002e-05),
 ('TotRmsAbvGrd', 0.0),
 ('ScreenPorch', 0.0),
 ('OpenPorchSF', 0.0),
 ('MSSubClass', 0.0),
 ('LowQualFinSF', 0.0),
 ('LotFrontage', 0.0),
 ('LotArea', 0.0),
 ('HalfBath', 0.0),
 ('FullBath', 0.0),
 ('Fireplaces', 0.0),
 ('BsmtHalfBath', 0.0),
 ('BsmtFullBath', 0.0)]

In [137]:
pred = rf.predict(X_test)

In [116]:
from sklearn.metrics import mean_squared_log_error
from math import sqrt
rmse = sqrt(mean_squared_log_error(y_test, pred))
rmse

0.20091778294866688

In [119]:
from sklearn.feature_selection import SelectKBest
rfe = RFE(estimator=rf, n_features_to_select=15, step=1)
rfe.fit(X_train, y_train)

RFE(estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
  n_features_to_select=15, step=1, verbose=0)

In [125]:
ranking = rfe.
ranking

In [75]:
submission = pd.DataFrame({
        "Id": df["Id"][:438],
        "Label": pred
    })

In [76]:
submission.to_csv('output.csv',index=False)